.creator {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
}

.creator:first-child {
    border-top: none;
}

.creator.nested {
    margin-top: 20px;
    margin-left: 30px;
}

.creator .input {
    margin-bottom: 15px;
}

.creator .identity {
    margin-bottom: 15px;
}

.creator h1 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

.creator textarea {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 10px;
    color: #333;
}

.creator .error {
    margin-bottom: 0;
}

.creator .counter {
    font-weight: 700;
}

.creator .counter.near-limit {
    color: #e75e4b;
}

.creator .media-gallery {
    padding: 0 0 15px 0 !important;
    margin: 0 -5px 0 -5px !important;
}
