.full-page,
.dashboard-page,
.profile-page,
.help-page,
.admin-dashboard-page {
    margin: 55px auto 0 auto;
}

.navbar .wrapper,
.full-page,
.dashboard-page,
.profile-page,
.help-page,
.admin-dashboard-page {
    max-width: 1200px;
}

.form-page {
    max-width: 400px;
    margin-top: calc(5% + 55px);
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 1440px) {
    .navbar .wrapper,
    .full-page,
    .dashboard-page,
    .profile-page,
    .help-page,
    .admin-dashboard-page {
        max-width: 1000px;
    }
}

@media all and (max-width: 1024px) {
    .navbar .wrapper,
    .full-page,
    .dashboard-page,
    .profile-page,
    .help-page,
    .admin-dashboard-page {
        max-width: 800px;
    }
}

@media all and (max-width: 768px) {
    .navbar .wrapper,
    body:not(.mobile-no-margin) .full-page,
    body:not(.mobile-no-margin) .dashboard-page,
    body:not(.mobile-no-margin) .profile-page,
    body:not(.mobile-no-margin) .help-page,
    body:not(.mobile-no-margin) .admin-dashboard-page {
        margin-left: 3% !important;
        margin-right: 3% !important;
    }

    .form-page {
        padding-left: 3%;
        padding-right: 3%;
    }
}
