*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

body {
    background-color: #f2f2f2;
    margin: 0;
}

a {
    color: #025D8C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 17px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

.content {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
}

.border {
    margin-bottom: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.content.border h1:nth-last-child(1) {
    margin-bottom: 0;
}

.logo-container {
    padding: 20px;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.like-link {
    cursor: pointer;
}

.space-right {
    margin-right: 4px;
}

.space-left {
    margin-left: 4px;
}

.empty-content,
.loading {
    font-size: 15px;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ddd;
}

.empty-content {
    display: block;
    padding: 20px;
    color: #666;
}

.empty-content.hidden {
    display: none;
}

.loading {
    display: none;
    padding: 15px;
}

span + .loading {
    margin-top: 20px;
}

.document {
    font-size: 15px;
    word-wrap: break-word;
}

.document p,
.document ul {
    line-height: 24px;
}

.document p:not(:last-child) {
    margin-bottom: 10px;
}

.document ul {
    padding-left: 40px;
    margin: 0 0 10px 0;
}

.document .back {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.document .back h1 {
    margin-bottom: 0;
    margin-right: auto;
}

.document .back a {
    display: block;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 3px;
}

.document .back a:not(:last-child) {
    margin-right: 10px;
}

@media all and (max-width: 425px) {
    .document .btn-group .flex-left,
    .document .btn-group .flex-right {
        margin-left: inherit !important;
        margin-right: inherit !important;
    }

    .document .btn-group {
        flex-direction: column;
    }

    .document .btn-group form,
    .document .btn-group .btn {
        width: 100%;
    }
}
