.content-group {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 -20px;
}

.content-group .section {
    margin: 20px 0 0 20px;
    width: calc(50% - 20px);
}

@media all and (max-width: 768px) {
    .content-group {
        flex-direction: column;
    }

    .content-group .section {
        width: auto;
    }
}

@media all and (max-width: 425px) {
    .content-group .btn-group {
        flex-direction: column;
    }

    .content-group .btn {
        width: 100%;
    }
}
