.content-group {
    display: flex;
}

.content-group .section {
    flex: 1;
    margin-right: 20px;
}

.content-group .section:last-child {
    margin-right: 0;
}

@media all and (max-width: 768px) {
    .content-group {
        flex-direction: column;
    }

    .content-group .section {
        margin-right: 0;
    }

    .content-group .section.responsive {
        margin-bottom: 20px;
    }

    .content-group .section.responsive:last-child {
        margin-bottom: 0;
    }
}