.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    border-top: 2px solid #eee;
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    color: #888;
}
