
/* General Input */

input,
select,
textarea {
    outline: 0;
    font-weight: 400;
}

textarea {
    resize: vertical;
}

/* Label and Fields */

.label {
    font-weight: 700;
    cursor: pointer;
    display: block;
}

.field {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 6px 10px;
    margin: 5px 0 10px 0;
    color: #555;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
    transition: border-color 0.1s, box-shadow 0.1s;
}

.field:focus {
    border-color: #4fc3fc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.field:disabled {
    background-color: #f2f2f2;
}

/* Dropdown Select */

.select {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 10px;
    background-color: transparent;
    margin: 5px 0 10px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
    transition: border-color 0.1s, box-shadow 0.1s;
}

.select:focus {
    border-color: #4fc3fc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

/* Invisible Upload Button */

.custom-uploader {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Checkbox */

select,
.checkbox {
    cursor: pointer;
}

form .checkbox-container {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

form .checkbox-container .checkbox {
    margin-right: 5px;
}

/* Field and Checkbox help */

form .field-help,
form .checkbox-help {
    color: #666;
    display: block;
}

form label.checkbox-help,
form label.field-help {
    cursor: pointer;
}

form .checkbox-help {
    margin-top: -12px;
    margin-bottom: 12px;
}

form .field-help {
    margin-top: -7px;
    margin-bottom: 7px;
}

/* Error */

form span.error {
    font-weight: 700;
    color: #CC0000;
    display: block;
    margin-bottom: 10px;
}

form .field.error {
    border: 1px solid #CC0000;
}

/* Form page tip */

.form-page .tip {
    margin: 10px 0 20px 0;
    text-align: center;
}

.form-page .checkbox-container {
    margin-bottom: 0;
}

.form-page .alert {
    margin-bottom: 30px;
}

/* Google Recaptcha */

form .g-recaptcha div {
    margin: auto;
}
