.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    height: 55px;
    z-index: 10;
}

.navbar,
.navbar a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.navbar .wrapper {
    margin: auto;
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar .items-inline {
    flex-wrap: nowrap;
}

.navbar .items-inline li:not(:last-child) {
    margin-right: 10px;
}

.navbar .items-inline li > div,
.navbar .items-inline li > a {
    padding: 0 10px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    font-weight: 700;
    transition: background-color 0.1s;
    vertical-align: middle;
}

.navbar .items-inline li > a.active,
.navbar .items-inline li > a:hover {
    background-color: #666;
}

.navbar .profile-picture-container {
    margin-right: 8px;
}

.navbar .profile-picture {
    background-color: #fff;
}

.navbar-menu .notification-holder,
.navbar .notification-holder {
    position: relative;
}

.navbar-menu .notification-holder .count,
.navbar .notification-holder .count {
    display: none;
    position: absolute;
    font-size: 10px;
    background-color: #e75e4b;
    padding: 3px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    animation: unread 2s infinite;
}

@keyframes unread {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 3px;
    }

    100% {
        bottom: 0;
    }
}

.navbar-menu .notification-holder .count.visible,
.navbar .notification-holder .count.visible {
    display: block;
}

.navbar.mobile {
    display: none;
}

.navbar.mobile #menu-toggle #close {
    display: none;
}

.navbar.mobile #menu-toggle.toggled {
    background-color: #666;
}

.navbar.mobile #menu-toggle.toggled #open {
    display: none;
}

.navbar.mobile #menu-toggle.toggled #close {
    display: block;
}

.navbar-menu {
    display: none;
    flex-wrap: wrap;
    align-items: stretch;
    z-index: 9;
    position: fixed;
    width: 100%;
    height: calc(100% - 55px);
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 55px;
}

.navbar-menu .fa {
    margin-bottom: 10px;
    font-size: 20px;
}

.navbar-menu .profile-picture {
    margin-bottom: 10px;
}

.navbar-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 30px;
    flex: 1 1 30%;
    text-decoration: none;
}

.navbar-menu a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@media all and (max-device-width: 1024px) {
    .navbar:not(.mobile),
    .navbar:not(.mobile) a {
        font-size: 14px;
    }
}

@media all and (max-device-width: 768px) {
    .navbar.mobile {
        display: flex;
    }

    .navbar:not(.mobile) {
        display: none;
    }
}
