.panel > h1 {
    margin: 0;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    background-color: #ccc;
    color: #333;
}

.panel .content {
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
}

.panel .btn {
    width: 100%;
    margin: 0;
    border-radius: 0px;
}
