.tip-box {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.08);
}

.tip-box > *:not(:last-child) {
    margin-right: 10px;
}

.tip-box.blue {
    background-color: #3498db;
    border-color: #2283c3;
}

.tip-box:not(.last-child) {
    margin-bottom: 20px;
}

.tip-box:last-child {
    margin-bottom: 20px;
}

.tip-box p {
    font-weight: 700;
    color: #555;
}

.tip-box.blue p {
    color: #fff;
}
