.report-preview .user-content {
    margin: 20px 0;
}

.report {
    margin-bottom: 10px;
}

.report:last-child {
    margin-bottom: 0;
}

.report,
.report .container {
    display: flex;
}

.report .container {
    flex: 1;
    flex-direction: column;
    background-color: #f2f2f2;
}

.report .type,
.report .description {
    padding: 10px;
    display: block;
}

.report .type {
    background-color: #3498db;
    color: #fff;
    min-width: 40px;
    text-align: center;
}

.report .description {
    flex: 1;
    color: #333;
    line-height: 24px;
}

.report .description:hover {
    text-decoration: none;
}

.report .description span {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.report .description p {
    margin-bottom: 10px;
}

.report .description p:last-child {
    margin-bottom: 0;
}

.report .interact {
    padding: 0 0 10px 10px;
}

.report .like-link {
    padding: 10px;
    transition: box-shadow 0.1s;
}

.report .like-link:hover {
    box-shadow: 0 0 0 3px #3498db !important;
}
